@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*{
    box-sizing: border-box;
    padding: 0px 0px;
    margin: 0px 0px;
}



/* choosing to signup or signin */
#userpref{
    margin: 25px 10px;
    padding: 20px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#userpref > :first-child{
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
}

.btnholder{
    padding-bottom: 20px;
    border-bottom: 1px gray solid;
}
.btnholder> *{
    padding: 20px 10px;
    margin: 10px 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
.active{
    background-color: black;
    color: white;
    /* box-shadow: 0px 0px 1px 0px black; */
}


#authholder{
    flex-direction: row;
    display: flex;
    justify-content: center;
}
#authholder img{
    width: 50vw;
    height: auto;
}
#authholder > div{
    /* width: 50vw; */
}


/* signindiv css */
#signindiv{
    margin-top: 30px;
    padding: 20px 20px;
}
#signindiv > :first-child > :first-child{
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
#signindiv > :first-child>:nth-child(2){
    display: flex;
    flex-direction: column;
}



#signupdiv{
    display: none;
    margin-top: 30px;
    padding: 30px 30px;
}
#signupdiv > :first-child{
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
#signupdiv input{
    /* max-width: 20vw; */
    margin-bottom: 20px;
}
#signupdiv button{
    /* max-width: 10vw; */
}
#signupdiv > div{
    flex-direction: column;
}
#emaildiv{
    display: flex;
}
#otpdiv{
    display: none;
}
#usernamediv {
    display: none;
}
#passworddiv{
    display: none;
}
#termsdiv{
    display: none;
}
.color{
    color: #6c63ff;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
}
label{
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}
input{
    padding: 10px 10px;
    margin-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
}
button[type='submit']{
    padding: 10px 10px;
    color: white;
    background-color: #6c63ff;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
}
button[type='previous']{
    padding: 10px 10px;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin-bottom: 30px;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
}
#showpass{
    
    margin-bottom: 0px;
}
.red{
    color: red;
}
.btnholder2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* eyebtn */
#eyeopen{
    position: relative;
    top: -40px;
    right: 0px ;
    left: 311px;
    bottom: 0px;
    width: fit-content;
    display: none;
    cursor:pointer;
    color: gray;
}
#eyeclose{
    position: relative;
    top: -40px;
    left: 311px;
    width: fit-content;
    cursor: pointer;
    color: rgb(85, 85, 85);
    display: block;
}

#eyeopensignup{
    position: relative;
    top: -51px;
    right: 0px ;
    left: 288px;
    bottom: 0px;
    width: fit-content;
    display: none;
    cursor:pointer;
    color: gray;
    top: -51px;
    left: 288px;
}
#eyeclosesignup{
    position: relative;
    top: -51px;
    left: 288px;
    width: fit-content;
    cursor: pointer;
    color: rgb(85, 85, 85);
    display: block;
}