#mobilelandingpage{
    padding: 0px 10px;
}
#mobilelandingpage > *{
    margin: 15px 0px;
    width: 90vw;
}
.landdiv{
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 20px;
    background-color: #f5f5ff;
    box-shadow: 3px 3px 15px #babecc;
}

.arrangehorizontal{
    display: flex;
    flex-direction: row;
}
.arrangehorizontal >:first-child{
    margin-right: 10px;
}

.arrangehorizontal >:last-child{
    margin-left: 10px;
}

.landcardimg{
    height: 5vh;
    width: auto;
    margin-bottom: 5px;
}

.workplacediv{
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
}

.workplacediv > *{
    margin-bottom: 15px;
}
.workplacelabel{
    margin-bottom:10px ;
    margin-left: 2px;
}

.workplaceinnerdiv {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.mobilelandbtn{
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 15px 15px;
    margin-bottom: 10px;
}



.workplaceinnerdiv{
    display: flex;
    flex-direction: row;
}

.workplacebtndiv{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.workplacebtndiv :last-child{
    margin-left: auto;   
}

.workplacebtn{
    padding: 7px 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.workplaceimg{
    height: 11vh;
}



input{
    padding: 10px 10px;
    margin: 10px 0px;
}