*{
    padding: 0px 0px;
    margin: 0px 0px;
    box-sizing: border-box;
}

header{
    position: fixed;
    box-shadow: 0px 0px 2px 0px;
    padding: 20px 20px;
    background-color: white;
    top: 0px;
    left: 0px;
    display: flex;
}


header ul{
    list-style-type: none;
}

header > :last-child{
    padding-left: calc(100vw-40px-70px);
    cursor: pointer;
}

main{
    margin-top: 60px ;
}