@media (max-width: 576px) {
    header{
        display: flex;
    }
    header> :nth-child(2){
        display: none;
    }
    header > :last-child{
        display: block;
        margin-left: auto;
        height: 30px;
    }
    header img{
        height: 35px;
        margin: -4px 0px;
        padding: 0px 20px;
        cursor: pointer;
    }
    .heading{
        font-size: 45px;
    }
    section{
        padding: 20px 5px;
    }
    .btnholder{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .hero > *{
        margin: 20px 20px;
    }
    .features > div{
        flex-direction: column-reverse;
    }
    .illumage{
        width: 80vw;
    }
    .ctasection{
        padding: 60px 30px;
    }
    #signupsection{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    footer > :nth-child(2){
        border-top: 1px solid gray;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid gray;
        padding: 30px 30px;
    }
    footer> :last-child>h1{
        font-size: 28px;
        
    }
    footer a,footer h1{
        font-family: "Ubuntu", sans-serif;
    }
    footer h1{
        border-bottom: 1px solid white;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 100;
    }
    footer div{
        padding: 60px 30px;
    }
}